apiVersion: apps/v1
kind: Deployment
metadata:
  name: bookstore-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bookstore-db
  template:
    metadata:
      labels:
        app: bookstore-db
    spec:
      containers:
        - name: postgres
          image: postgres:14
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: bookstore-config
                  key: DB_NAME
            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  name: bookstore-config
                  key: DB_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: bookstore-secret
                  key: DB_PASSWORD
---
apiVersion: v1
kind: Service
metadata:
  name: bookstore-db
spec:
  type: ClusterIP
  selector:
    app: bookstore-db
  ports:
    - port: 5432
      targetPort: 5432
